.answersHeaderContainer{
	
	margin-bottom:20px;
	
	position: relative;
	transition:all 0.3s ease;
	width:0;
	overflow: hidden;
	height:100%;
	&.isVisible{
		width:500px;
	}
	
	
	/*background:red;*/

}